<!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Sinatra Example - Cloud Foundry</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<header id="header">
			<div class="innertube">
				<h1>Ruby/Sinatra Example - SUSE Cloud Application Platform</h1>
			</div>
		</header>

		<div id="wrapper">
			<main>
				<div id="content">
					<div class="innertube">
						<h2>IP: <%= @host %> - Port: <%= @port %> - DEA Index: <%= @index %></h2>
						<img src="https://lh6.googleusercontent.com/-b9BB0T8Cy-4/AAAAAAAAAAI/AAAAAAAAA9U/biLumWYc-MM/photo.jpg"></img>
						<img src="https://pbs.twimg.com/media/D2vn0qmXgAE7HBA.jpg"></img>

					</div>
				</div>
			</main>
		</div>

		<footer id="footer">
			<div class="innertube">
				<p>SUSECON Nashville '19</p>
			</div>
		</footer>

	</body>
</html>
